<h2>Halo {{ nama }}, akun anda telah diaktifkan</h2>
<p>
Akun anda telah diaktifkan oleh admin@ellcco.herokuapp.com karena alasan tertentu. Anda dapat menggunakan aplikasi anda kembali, terimakasih.
</p>
<p>Terimakasih, admin@ellcco.herokuapp.com</p>