<h2>Selamat, registrasi anda telah berhasil</h2>
<p>Mohon untuk segera melakukan verifikasi terhadap akun anda untuk dapat menggunakan aplikasi. Silahkan klik link dibawah untuk melakukan verifikasi akun:</p>
{{ tokenLink }}
<p><strong>Catatan:</strong> Link ini hanya berlaku selama 30 menit.</p>
<p>Terimakasih, admin@ellcco.herokuapp.com</p>